.row {
  margin: 0px;
  font-size: 0;
}

.cell {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
}

.cell.alive {
  background-color: #2ecc71;
}